/* * {
  top: 0;
  margin: 0;
  overflow-x: hidden;
} */
.container {
  display: flex;
  width: 96%;
  padding: 2%;
  /* background: #e3e3e3; */
  overflow-x: hidden;
}
.select {
  width: 18%;
  height: 30vh;
  padding: 3%;
  border-radius: 5px;
  background: #368be0;
}
.drop {
  width: 97%;
  height: 20vh;
  padding: 5% 3%;
  background: white;
  border-radius: 3px;
}
.charts {
  width: 35%;
  height: 400vh;
  margin: 0 6vw 2vh 2vw;
  background: white;
  height: 40%;
  border-radius: 10px;
}
.maps {
  width: 45%;
}
